<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Amadon</title>
</head>
<body>
    <h3>Thank you for your business!</h3>
    <p>We charged your credit card for ${{newbuy}}</p>
    <p>You have ordered {{totalquantity}} items so far and spent ${{totalorder}} with Amadon.com!</p>
    <p><a href="/">Go Back</a></p>
</body>
</html>